.header-container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
}

.header__navigation {
  display: flex;
  gap: 20px;
}

.header__logo {
  width: 100px;
  height: 90px;
}

.header__line {
  width: 100%;
  display: block;
}

.header__linkProp,
.header__linkCont {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .header__navigation {
    margin-top: 20px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding: 15px 20px;
  }

  .header__logo {
    width: 80px;
    height: 70px;
  }

  .header__linkProp,
  .header__linkCont {
    font-size: 16px;
  }
}
