@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/page.css);
@import url(./blocks/header.css);

@import url(./blocks/carousel.css);
@import url(./blocks/footer.css);
@import url(./blocks/properties-header.css);
@import url(./blocks/property-card.css);
@import url(./blocks/properties.css);
@import url(./blocks/contact.css);
